 <!-- Footer content -->

 <section class="contact-box">
    <a href="index.html">Home</a>
    <a href="join/join.html">Join</a>
    <ul class="social">
        <li><a href="https://www.instagram.com" target="_blank"><img src="/src/public/images/instagram.webp" alt="instagram ico" width="50" height="50" loading="lazy"></a></li>
        <li><a href="https://www.facebook.com" target="_blank"><img src="/src/public/images/facebook.webp" alt="facebook ico"  width="50" height="50" loading="lazy"></a></li>
        <li><a href="https://www.youtube.com" target="_blank"><img src="/src/public/images/youtube.webp" alt="youtube ico"  width="50" height="50" loading="lazy"></a></li>
    </ul>
</section>
<p>&copy; 2024 Dog Facts Website. All rights reserved.</p>
